
/* 
* body
*/

	/* our services */
.mx-our-services-wrap{
	min-height: 450px;	
	& > h1{
		width: 100%;
		font-family: "PlayfairDisplay-Italic";
		text-align: center;
		font-size: 32px;
		margin-top: 50px;
	}
	& > span{
		width: 31px;
		font-family: "PlayfairDisplay-Italic";
		text-align: center;
		font-size: 32px;
		display: block;
		margin: 0px auto;
		&::after{
			position: absolute;
			width: 50px;
			height: 4px;
			content: "";
			margin: 22px 0px 0px -90px;
			background-image: url(../img/line.png);
   			background-repeat: no-repeat;

		}
		&::before{
			position: absolute;
			width: 50px;
			height: 4px;
			content: "";
			margin: 22px 0px 0px 45px;
			background-image: url(../img/line.png);
   			background-repeat: no-repeat;

		}
	}	
	& > p{
		font-size: 14px;
		color: $gray;
		text-align: center;
		display: block;
		margin: 20px 15px;	
	}
	& .mx-services-block{
		display: block;
		margin: 40px 30px 30px 30px;
		& a{
			border: none;
		}
		& article{
			max-width: 250px;
			display: block;
			& > div{
				width: 95px;
				height: 95px;
				display: block;
				background-color: #f0f0f0;
				@include border-radius(3px);
				& > i{
					text-align: center;
					line-height: 95px;
					font-size: 28px;
					color: #000000;
				}
			}
			& > h3{
				font-family: "Raleway-Bold";
				font-size: 18px;
				color: #000000;
				margin-top: 26px;
			}
			& > p{
				font-size: 13px;
				color: #474747;
				margin-top: 10px;
			}
			& > span{
				width: 65px;
				display: block;
				border: 1px solid #000000;
			}
			&:hover{
				& > span{
					border: 1px solid $yellow_color;
				}
				& >  h3{
					color: $yellow_color;
				}
				& i{
					color: $yellow_color;
				}
			}
			@media only screen and (max-width: 768px){
				max-width: 260px;
				margin: 0px auto;
				margin-bottom: 40px;
			}
		}		
	}
}

/* paralax section */
.mx-paralax-wrap{
	min-height: 220px;
	display: block;
	background-image: url(../img/parallax1.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	& .mx-paralax-gloss{
		position: absolute;
		width: 100%;
		height: 250px;
		background-image: url(../img/darck-photo.png);
		background-repeat: repeat;
		@media only screen and (max-width: 768px){
			background-position: -150px 0px;
		}
	}
	& .mx-paralax-cont{
		height: auto;
		display: table;		
		& > p{			
			display: block;
			font-family: "PlayfairDisplay-Regular";
			font-size: 23px;
			margin: 90px 30px;
			text-align: center;
			color: #e9e9e9;
			@media only screen and (max-width: 992px){
				font-size: 20px;
				margin: 90px 15px;
			}
			@media only screen and (max-width: 768px){
				font-size: 18px;
			}
			@media only screen and (max-width: 500px){
				font-size: 16px;
			}
		}		
	}
}

/* our projects */
.mx-our-projects-wrap{
	min-height: 600px;
	padding-top: 50px;
	padding-bottom: 50px;
	display: block;
	background-image: url(../img/bg_our_poj.png);
	background-repeat: repeat-y;
	background-position: top center;
	& .mx-our-projects-center{
		display: table;
		& > h2{
			width: 100%;
			font-family: "PlayfairDisplay-Italic";
			text-align: center;
			font-size: 32px;
		}
		& > span{
			width: 31px;
			font-family: "PlayfairDisplay-Italic";
			text-align: center;
			font-size: 32px;
			display: block;
			margin: 0px auto;
			&::after{
				position: absolute;
				width: 50px;
				height: 4px;
				content: "";
				margin: 22px 0px 0px -90px;
				background-image: url(../img/line.png);
	   			background-repeat: no-repeat;

			}
			&::before{
				position: absolute;
				width: 50px;
				height: 4px;
				content: "";
				margin: 22px 0px 0px 45px;
				background-image: url(../img/line.png);
	   			background-repeat: no-repeat;

			}
		}
		& > p{
			font-size: 14px;
			color: $gray;
			text-align: center;
			display: block;
			margin: 20px 15px;	
		}
		& > nav{
			width: 100%;
			display: block;
			float: left;
			text-align: center;
			& > ul{
				max-width: 690px;
				display: block;
				margin: 0px auto;
				& > li{
					float: left;
					margin: 20px 14px;
					& > a{
						position: relative;
						font-family: "Montserrat-Bold";
						color: $gray;
						font-size: 14px;
						padding: 10px 0px;
						&:hover{
							color: #131313;
							& > span{
								position: absolute;
								width: 30px;
								display: block;
								left: 50%;
								margin-left: -15px;
								bottom: 0px;
								border: 1px solid #131313;
							}
						}
					}
				}
			}
		}
		& .mx-ready-projects{
			position: relative;
			display: block;
			float: left;			
			& .mx-ready-projects-one-pattern-wrap{
				position: relative;
				width: 64%;
				max-height: 380px;
				display: block;
				float: left;
				margin: 3% 0% 3% 3%;
				@media only screen and (max-width: 768px){
					width: 100%;
					margin: 0%;
					height: auto;
					max-height: 4000px;
				}
				& .mx-ready-projects-big{
					position: relative;
					width: 50%;
					max-height: 360px;
					display: block;
					float: left;
					overflow: hidden;
					@media only screen and (max-width: 950px){
						max-height: 300px;
					}
					@media only screen and (max-width: 900px){
						max-height: 250px;
					}
					@media only screen and (max-width: 768px){
						width: 100%;
						float: none;
						max-width: 360px;
						margin: 0px auto;
					}
					& > img{
						width: 570px;
						margin-left: -26%;
						@media only screen and (max-width: 950px){
							width: 480px;
						}
						@media only screen and (max-width: 900px){
							width: 380px;
						}
						@media only screen and (max-width: 768px){
							width: 100%;
							margin-left: 0%
						}
					}					
				}
				& .mx-ready-projects-colect-pro{
					width: 50%;
					height: 360px;
					max-height: 380px;
					display: block;
					float: left;				
					@media only screen and (max-width: 950px){
						max-height: 300px;
					}
					@media only screen and (max-width: 900px){
						max-height: 250px;
					}
					@media only screen and (max-width: 768px){
						width: 100%;
						max-height: 3000px;
					}
					& .mx-ready-projects-colect-pro1{
						position: relative;
						width: 100%;
						height: 50%;
						display: block;
						float: left;
						overflow: hidden;
						@media only screen and (max-width: 768px){
							height: auto;
						}
						& > img{
							width: 100%;
							@media only screen and (max-width: 768px){
								width: 100%;
								height: auto;
							}
						}
					}
					& .mx-ready-projects-colect-pro2{
						position: relative;
						width: 50%;
						height: 50%;
						display: block;
						float: left;
						overflow: hidden;
						@media only screen and (max-width: 768px){
							width: 100%;
							height: auto;
						}
						& > img{
							width: 180%;
							margin-left: -45%;
							@media only screen and (max-width: 950px){
								width: 160%;
								margin-left: -40%;
							}
							@media only screen and (max-width: 900px){
								width: 154%;
								margin-left: -40%;
							}
							@media only screen and (max-width: 768px){
								width: 100%;
								margin-left: 0%;
							}
						}
					}
					& .mx-ready-projects-colect-pro3{
						position: relative;
						width: 50%;
						height: 50%;
						display: block;
						float: left;
						overflow: hidden;
						@media only screen and (max-width: 768px){
							width: 100%;
							height: auto;
						}
						& > img{
							width: 180%;
							margin-left: -44%;
							@media only screen and (max-width: 900px){
								width: 160%;
								margin-left: -30%;
							}
							@media only screen and (max-width: 768px){
								width: 100%;
								margin-left: 0%;
							}
						}
					}
					@media only screen and (max-width: 768px){
						width: 100%;
						float: none;
						max-width: 360px;
						margin: 0px auto;
					}
				}
			}
			& .mx-ready-projects-two-pattern-wrap{
				position: relative;
				width: 30%;
				max-height: 360px;
				display: block;
				float: left;
				margin: 3% 3% 3% 0%;
				@media only screen and (max-width: 950px){
					max-height: 300px;
				}
				@media only screen and (max-width: 900px){
					max-height: 250px;
				}
				@media only screen and (max-width: 768px){
					width: 100%;
					margin: 0%;
					display: table;
				}
				& .mx-ready-projects-two-big{
					position: relative;
					width: 44%;					
					height: 100%;		
					max-height: 360px;			
					display: block;
					float: left;
					overflow: hidden;	
					@media only screen and (max-width: 950px){
						max-height: 300px;
					}
					@media only screen and (max-width: 900px){
						max-height: 250px;
					}			
					@media only screen and (max-width: 768px){
						width: 100%;
						float: none;
						max-width: 360px;
						margin: 0px auto;
					}
					& > img{
						width: 530px;
						margin-left: -200px;
						@media only screen and (max-width: 950px){
							margin-top: 0px;
							width: 455px;
							margin-left: -170px;
						}
						@media only screen and (max-width: 900px){
							width: 380px;
							margin-left: -135px;
						}
						@media only screen and (max-width: 768px){
							width: 100%;
							margin-left: 0px;
						}
					}
				}
				& .mx-ready-projects-two-colect-pro{
					width: 56%;
					height: 100%;
					height: 360px;
					display: block;	
					float: left;	
					overflow: hidden;
					@media only screen and (max-width: 950px){
						max-height: 300px;
					}
					@media only screen and (max-width: 900px){
						max-height: 250px;
					}		
					@media only screen and (max-width: 768px){
						position: relative;
						width: 100%;
						float: none;
						max-width: 360px;
						margin: 0px auto;
						margin-bottom: 30px;
						display: table;
					}				
					& .mx-ready-projects-two-colect-pro1{
						position: relative;
						width: 100%;
						height: 50%;
						display: block;								
						overflow: hidden;	
						@media only screen and (max-width: 768px){
							height: auto;
							max-width: 360px;
							margin: 0px auto;
						}					
						& > img{
							width: 274px;
							margin-left: -50%;
							@media only screen and (max-width: 950px){
								width: 250px;
								margin-left: -45%;
							}
							@media only screen and (max-width: 900px){
								width: 150%;
								margin-left: -45%;
							}
							@media only screen and (max-width: 768px){
								width: 100%;
								margin-left: 0%;
							}	
						}
					}
					& .mx-ready-projects-all{
						position: relative;
						width: 100%;
						height: 50%;
						display: block;		
						background-color: #ffffff;
						overflow: hidden;						
						@media only screen and (max-width: 768px){
							height: 200px;
							display: block;
							max-width: 360px;
							margin: 0px auto;
						}
						& a > h4{
							position: relative;							
							width: 100%;
							padding: 4px 0px;
							margin-top: 38%;
							font-family: "Montserrat-Bold";
							font-size: 14px;
							color: #131313;
							text-align: center;
							@media only screen and (max-width: 950px){
								font-size: 12px;
							}
							@media only screen and (max-width: 900px){
								font-size: 10px;
								margin-top: 35%;
							}
							@media only screen and (max-width: 768px){
								font-size: 12px;
								margin-top: 25%;
							}
						}
						& a > i{
							position: relative;
							color: #131313;
							text-align: center;
							margin-top: -5px;
						}						
						&:hover{
							& .mx-ready-projects-all-hover{
								position: absolute;
								display: block;
								width: 100%;
								height: 100%;
								top: 0px;
								background-color: $yellow_color;
							}
							& a > h4{
								& > span{
									position: absolute;
									width: 80%;
									display: block;
									bottom: 0px;
									left: 50%;
									margin-left: -40%;
									border: 1px solid #131313;
									@media only screen and (max-width: 768px){
										width: 120px;
										left: 50%;
										margin-left: -60px;
									}
								}
							}
							& a > i{
								text-align: right;
								margin-right: 18px;
								@media only screen and (max-width: 768px){
									margin-right: 33%;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* hide menu project */
.mx-hide-menu-project{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0px auto 30px auto;
	background-color: #333333;
	& > i{
		text-align: center;
		line-height: 30px;
		color: $yellow_color;
		cursor: pointer;
		&:hover{
			color: #ffffff;
		}
	}
	& ul{
		position: absolute;
		width: 200px;
		display: block;	
		margin-left: -85px;
		padding: 10px 0px;
		text-align: center;
		background-color: #333;
		display: none;
		opacity: 0;
		z-index: 889;
		& li{
			display: block;
			margin: 0px 15px;
			line-height: 40px;
			& > a{
				position: relative;
				font-family: "Montserrat-Bold";
				color: $gray;
				font-size: 14px;
				padding: 10px 0px;
				&:hover{
					color: #ffffff;
					& > span{
						position: absolute;
						width: 30px;
						display: block;
						left: 50%;
						margin-left: -15px;
						bottom: 0px;
						border: 1px solid #ffffff;
					}
				}
			}
		}
	}
}

.mx-ready-projects-hover{
	display: none;
}
.mx-ready-projects-big:hover,
.mx-ready-projects-colect-pro1:hover,
.mx-ready-projects-colect-pro2:hover,
.mx-ready-projects-colect-pro3:hover,
.mx-ready-projects-two-big:hover,
.mx-ready-projects-two-colect-pro1:hover{
	& .mx-ready-projects-hover{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		border: 3px solid $yellow_color;
		background-image: url(../img/darck-photo.png);
		& .mx-ready-projects-hover-title{							
			position: absolute;
			display: block;
			margin: 30px;
			@media only screen and (max-width: 950px){
				margin: 25px;
			}
			@media only screen and (max-width: 900px){
				margin: 20px;
			}
			& > h3{								
				font-family: "Montserrat-Bold";
				font-size: 14px;
				color: #ffffff;
				@media only screen and (max-width: 900px){
					font-size: 12px;
				}
				@media only screen and (max-width: 768px){
					font-size: 14px;
				}
			}
			& > h4{
				font-family: "Raleway-Medium";
				font-size: 12px;
				color: #e1e1e1;
				margin-top: 4px;
				@media only screen and (max-width: 900px){
					font-size: 10px;
				}
				@media only screen and (max-width: 768px){
					font-size: 12px;
				}
			}
			& > span{
				width: 40px;
				display: block;
				border: 1px solid $yellow_color;
				margin-top: 9px;
			}
		}
		& .mx-ready-projects-hover-button{
			position: absolute;
			width: 70px;
			bottom: 30px;
			right: 20px;
			@media only screen and (max-width: 950px){
				bottom: 20px;
				right: 15px;
			}
			& a > span{
				width: 30px;
				height: 30px;
				display: block;
				float: left;
				background-color: $yellow_color;
				@include border-radius(3px);
				& > i{
					text-align: center;
					line-height: 30px;
					font-size: 14px;
					color: #333333;
				}
			}
			& a:first-child > span{
				background-color: #353535;
				margin-right: 10px;
				& > i{
					color: #ffffff;
				}
			}
		}
	}
}
.mx-small-block{
	& .mx-ready-projects-hover-title{
		margin: 10px !important;
		@media only screen and (max-width: 768px){
			margin: 20px !important;
		}
		& > h3{								
			font-size: 12px !important;
			@media only screen and (max-width: 900px){
				font-size: 10px !important;
			}
			@media only screen and (max-width: 768px){
				font-size: 14px !important;
			}
		}
		& > h4{
			font-size: 10px !important;
			@media only screen and (max-width: 900px){
				font-size: 8px !important;
			}
			@media only screen and (max-width: 768px){
				font-size: 12px !important;
			}
		}
		& > span{
			border: 1px solid $yellow_color !important;
		}
	}
	& .mx-ready-projects-hover-button{
		bottom: 15px !important;
		right: 10px !important;
		@media only screen and (max-width: 768px){
			bottom: 20px !important;
			right: 15px !important;
		}
	}
}

/* what they say */
.mx-what-they-say-wrap{
	position: relative;
	width: 100%;
	min-height: 500px;
	display: block;
	background-image: url(../img/parallax2.jpg);
	background-repeat: repeat-y;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;	
	& .mx-what-they-say-corousel-box{
		position: relative;
		display: block;
		margin: 0px 30px;	
		& .mx-what-they-say-corousel-bg{
			position: relative;
			width: 100%;
			display: block;
			float: left;
			margin-top: -50px;
			background-color: #fff;
			& .mx-what-they-say-corousel{
				width: 85%;
				display: block;
				margin: 0px auto;	
			}
		}	
		
	}		
}
.nbs-flexisel-ul{

}
.nbs-flexisel-inner{
	min-height: 150px;
	background-color: #ffffff;
	@include border-radius(0px);
	border: none;
}
.nbs-flexisel-item{
		margin-top: 50px;
}
.nbs-flexisel-nav-left{
	width: 17px;
	height: 18px;
	display: block;
	background-image: url(../img/arrow1.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-top: 0px;
	margin-left: -40px;
	opacity: 1;
	&:hover{
		background-position: 0px -19px;
	}
}
.nbs-flexisel-nav-right{
	width: 17px;
	height: 18px;
	display: block;
	background-image: url(../img/arrow1.png);
	background-repeat: no-repeat;
	background-position: -17px 0;
	margin-top: 0px;
	margin-right: -35px;
	opacity: 1;
	&:hover{
		background-position: -17px -19px;
	}
}

/* reviews */
.mx-reviews-wrap{
	width: 100%;
	display: block;
	& > h2{
		width: 100%;	
		display: table;	
		padding-top: 35px;
		font-family: "PlayfairDisplay-Italic";
		text-align: center;
		color: #ffffff;
		font-size: 32px;
		font-weight: 100;
	}
	& > span{
		width: 31px;
		display: block;
		margin: 0px auto;
		font-family: "PlayfairDisplay-Italic";
		text-align: center;
		font-size: 32px;
		color: #ffffff;		
		&::after{
			position: absolute;
			width: 50px;
			height: 4px;
			content: "";
			margin: 22px 0px 0px -90px;
			background-image: url(../img/line-white.png);
   			background-repeat: no-repeat;

		}
		&::before{
			position: absolute;
			width: 50px;
			height: 4px;
			content: "";
			margin: 22px 0px 0px 45px;
			background-image: url(../img/line-white.png);
   			background-repeat: no-repeat;

		}
	}
}

/* carousel */
.owl-carousel{
	position: relative;
	width: 100%;
	display: block;
	margin-top: 20px;
	& .item{
		display: block;
		margin: 0px 30px;
		margin-bottom: 50px;
		& .mx-reviews-photo{
			position: relative;
			width: 100px;
			height: 100px;
			display: table;
			margin: 0px auto;		
			@include border-radius(50%);
			overflow: hidden;
			z-index: 778;
			& > img{
				position: relative;
				width: 100%;
				z-index: 766;
			}
		}
		& > span{
			width: 30px;
			display: block;
			margin: 30px auto;
			margin-bottom: 27px;
			border: 1.5px solid #ffffff;
		}	
	}
	& p{
		font-family: "PlayfairDisplay-Italic";
		font-size: 18px;
		color: #e8e8e8;
		text-align: center;
		margin-top: 28px;
		@media only screen and (max-width: 768px){
			font-size: 16px;
		}
	}
	& a{
		color: $yellow_color;
	}	
	& h4{
		width: 100%;
		text-align: center;		
		font-family: "Montserrat-Bold";
		font-size: 13px;
		color: $yellow_color;			
		& span{
			color: #e8e8e8;
		}		
	}
	& .owl-nav{
		position: absolute;
		width: 200px;
		height: 20px;
		top: 14%;
		display: block;
		left: 50%;
		margin-left: -100px;
	}
	& .owl-prev{
		position: absolute;
		width: 12px;
		height: 20px;
		display: block;
		background-image: url(../img/arrow2.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		&:hover{
			background-position: 0 -23.5px;
		}
	}
	& .owl-next{
		position: absolute;
		width: 12px;
		height: 20px;
		right: 0px;
		display: block;
		background-image: url(../img/arrow2.png);
		background-repeat: no-repeat;
		background-position: -12 0;
		&:hover{
			background-position: -12px -23.5px;
		}

	}
}

/* blog */
.mx-blog-bg{
	width: 100%;
	min-height: 560px;
	display: block;
	background-color: #ebebeb;
	.mx-blog-wrap{
		width: 95%;
		display: table;	
		margin: 0px auto;
		padding-bottom: 35px;
		& > h3{
			width: 100%;
			font-family: "PlayfairDisplay-Italic";
			text-align: center;
			font-size: 32px;
			margin-top: 50px;
		}
		& > span{
			width: 31px;
			font-family: "PlayfairDisplay-Italic";
			text-align: center;
			font-size: 32px;
			display: block;
			margin: 0px auto;
			&::after{
				position: absolute;
				width: 50px;
				height: 4px;
				content: "";
				margin: 22px 0px 0px -90px;
				background-image: url(../img/line.png);
	   			background-repeat: no-repeat;

			}
			&::before{
				position: absolute;
				width: 50px;
				height: 4px;
				content: "";
				margin: 22px 0px 0px 45px;
				background-image: url(../img/line.png);
	   			background-repeat: no-repeat;

			}
		}	
		& > p{
			font-size: 14px;
			color: $gray;
			text-align: center;
			display: block;
			margin: 20px 15px;	
		}
	}
}
.mx-blog-content{
	width: 100%;
	display: block;
	background-color: #ffffff;
	padding: 30px;
	margin-top: 20px;
	& > h2 a{
		font-family: "Montserrat-Bold";
		font-size: 14px;
		color: #000000;
		&:hover{
			color: $yellow_color;
		}
	}
	& > p{
		font-family: "Raleway-Medium";
		font-size: 13px;
		color: #656565;
	}
	& > span{
		display: block;
		margin-top: -10px;
		 a{
			font-family: "Montserrat-Bold";
			font-size: 14px;
			color: #000000;	
			&:hover{
				color: $yellow_color;
			}		
		}
	}
}
.mx-view-all-blog-post{
	width: 200px;
	display: block;
	text-align: center;
	margin: 40px auto;
	& > a span{
		font-family: "Montserrat-Bold";
		font-size: 14px;
		display: block;
		float: left;
		color: #000000;
		& > i{
			margin-left: 10px;
			font-size: 14px;
			color: #000000;
		}
	}
	& > a:hover{
		& > span{
			color: $yellow_color;
			& > i{
				color: $yellow_color;
				margin-left: 15px;
			}
		}
	}
}