/********** PRRPLE SLIDER **********/
.slider { display:block; position:relative; }
.slider .slider_area{ display:block; position:relative; width:100%; overflow:hidden; }
.slider .slides{ display:block; position:relative; }
.slider .slide{ display:block; position:relative; float:left; }
.slider.fade .slide{ display:block; position:absolute; top:0; left:0; width:100%; }
/*.slider.vertical .slide{ float:none; }*/
.slider .slide_clear{ display:block; position:relative; height:0; clear:both; }
.slider .slide_left, .slider .slide_right{ display:none; color:#333; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; }
.slider .slide_left:hover, .slider .slide_right:hover{ color:#888; }
.slider .slide_left.slide_left_inactive, .slider .slide_right.slide_right_inactive{	cursor:default; color:#CCC; }
.slider .slider_nav{ display:block; position:relative; text-align:center; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; }
.slider .slider_navdot{ display:inline-block; width:10px; height:10px; background:#DDD; }
.slider .slider_navdot.current{ background:#AAA; }
.slider .slider_controls{ display:none; }
.slider .slider_play.hidden, .slider .slider_pause.hidden{ display:none !important; }
.slider .animate{ -webkit-transition:all 500ms ease-in-out; -moz-transition:all 500ms ease-in-out; -o-transition:all 500ms ease-in-out; transition:all 500ms ease-in-out; }


/********** SLIDERS **********/
.slide{
	width:100%;
	background:rgba(0,0,0,0.05);
}
.slide:nth-child(even){
	background:rgba(0,0,0,0.1);
}
.slidetitle{
	font-size:150px;
	line-height:250px;
	font-weight:bold;
	text-align:center;
	color:rgba(0,0,0,0.1);
}


.slider .slider_nav{
	position:absolute;
	width:100%;
	bottom:10px;
	font-size:0;
	line-height:0;
}
.slider .slider_navdot{
	width:6px;
	height:6px;
	margin:0 4px;
	border:1px solid #666;
	background:none;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-indent:-9999px;
}
.slider .slider_navdot.current{
	background:#666;
}

.slider .slide_left,
.slider .slide_right{
	display:block;
	position:absolute;
	top:40%;
	left:10px;
	padding:10px;
}
.slider .slide_right{
	left:auto;
	right:10px;
}
.slider.vertical .slide_left,
.slider.vertical .slide_right{
	width:100px;
	left:50%;
	top:10px;
	margin:0 -60px;
	text-align:center;
}
.slider.vertical .slide_right{
	top:auto;
	bottom:10px;
}
.slider.vertical .slider_nav{
	width:6px;
	height:56px;
	top:97px;
	left:auto;
	bottom:auto;
	right:10px;
}
.slider.vertical .slider_navdot{
	margin:4px 0;
}
